body {
  margin: 0;
  font-family: monospace;
}

#amiibo-header {
  display: flex;
  justify-content: center;
  background: #e117f8;
  opacity: .8;
  height: 7rem;
  padding: 1rem;
}

#amiibo-header img {
  height: 7rem;
  width: auto;
}

#amiibo-collection {
  margin: 2rem;
  display: none;
}

.figure {
  display: grid;
  border: 2px groove #3498db;
  border-radius: 10px;
  padding: 10px;
  margin: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  background: linear-gradient(to right, #fefcff, #fbfdff);
}

.figure:hover {
  border-color: #f200ff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.amiibo-model {
  justify-self: center;
  height: 12rem;
  width: auto;
}


button {
  position: relative;
  background-color: #e04b52;
  border: none;
  border-radius: 5px;
  height: 3rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
}

button:hover {
  background-color: rgb(167, 193, 255);
  border: #e04b52 solid 1px;
  color: #fcf00c;
}

.display-amiibos {
  padding: 1rem;
  width: stretch;
  height: auto;
  display: block;
  background: #515DA2;
  opacity: .8;
}

.amiibo-container {
  position: relative;
  padding: 1rem;
  width: stretch;
  height: auto;
  display: none;
  justify-content: space-between;
  background: #f8c213;
  opacity: .8;
}

.add-amiibo-form {
  width: 80%
}

.submit {
  position: relative;
  background-color: #e04b52;
  border-radius: 5px;
  height: 2rem;
  width: max-content;
  color: whitesmoke;
  font-size: 18px;
  justify-self: center;
  font-family: monospace;
  margin: 3px;
}

.submit:hover {
  background-color: whitesmoke;
  border: #e04b52 solid 1px;
  color: #e04b52;
}


.input-text {
  border-radius: 5px;
  height: 2rem;
  width: 60%;
  font-size: 18px;
  font-family: monospace;
  margin: 3px;
}

.sslogo {
  max-height: 100%; /* Set a maximum height to prevent expansion of the container */
  width: auto;
  align-self: center;
  margin-left: auto;
}

